@import '~antd/dist/antd.css';


html {
  --antd-wave-shadow-color: #f5e769;
}

.menu {
  padding: 0 20px;
  overflow: auto;
  box-shadow: 0 0 30px #f3f1f1;
  background-color: white;
  border: 5px solid #f5e769;
}

.menu__logo {
  width: 200px;
  float: left;
}

.menu__logo a {
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  color: black;
  -webkit-text-stroke: 0.5px #000;
}

.ant-menu-horizontal .ant-menu-item a:hover{
  color:#f5e769;
  -webkit-text-stroke: 0.5px #000;
}
.menu__container .ant-menu-item {
  font-size: 15px;
  font-family:fantasy;
  padding: 0px 5px;
}

.menu__container .ant-menu-item:hover {
  border-bottom: white;
}

.ant-menu-item a:hover {
  color:black;
  -webkit-text-stroke: 0.5px #f5e769;
}

.menu__container .ant-menu-submenu-title {
  padding: 10px 20px;
}

.menu__container .ant-menu-item a,
.menu__container .ant-menu-submenu-title a {
  padding: 10px 15px;
}

.menu__container .ant-menu-horizontal {
  border-bottom: none;
}

.menu__container .menu_left {
  float: left;
}

.menu__container .menu_rigth {
  float: right;
}

.menu__mobile-button {
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none !important; /* use of important to overwrite ant-btn */
  background-color : #f5e769;
  border-color: #f5e769;
}

.menu__mobile-button:hover{
  background-color : #f5e769;;
  border-color: black;
}

.menu_drawer .ant-drawer-body {
  padding: 0 !important;
  background-color: #f5e769;
}

/* align header of Drawer with header of page */
.menu_drawer .ant-drawer-header {
  padding: 14px 24px !important;
  background-color: #f5e769;
}

@media (max-width: 767px) {
  .menu__mobile-button {
    display: inline-block !important;
  }

  .menu_left,
  .menu_rigth {
    display: none;
  }

  .menu__logo a {
    margin-left: -20px;
  }

  .menu__container .ant-menu-item,
  .menu__container .ant-menu-submenu-title {
    padding: 1px 20px;
  }

  .menu__logo a {
    padding: 10px 20px;
  }
}

h1{
  font-family:fantasy;
}

.ant-btn-primary {
  font-family:fantasy;
  color: #000;
  border-color: black;
  background-color: #f5e769;
}

.ant-btn-primary:hover {
  color: white;
  border-color: black;
  background-color: black;
}

.ant-btn-primary:focus{
  color: #000;
  border-color: black;
  background-color: #f5e769;
}

#a_login {
  color: black;
}

#a_login:hover{
  color : black;
  -webkit-text-stroke: 0.5px #000;
}

.ant-input{
  border-color: black;
  background-color: #f5e769;
}

.ant-input:hover{
  border-color: black;
}

.ant-collapse{
  border-color: black;
  border-bottom: #000;
}

.ant-collapse-header{
  font-family:fantasy;
  background: #f5e769;
  border-color: black;
  border-bottom: #000;
  color: black;
}

.ant-collapse-content{
  font-family:fantasy;
  border-color: black;
  border-bottom: #000;
}

::selection{
  background:#f5e769;
}